style.
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .marker {
        background-image: url('user-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;
    }

    .marker-cluster-active {
        background-image: url('cluster-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;
    }

    .marker-cluster-inactive {
        background-image: url('cluster-icon-disabled.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 320px;
    }

    .marker-cluster span {
        line-height: 30px;
    }

    .label {
        font-size: 16px;
        line-height: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .description {
        font-size: 22px;
        line-height: 24px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }

    .mapboxgl-popup {
        max-width: 360px;
    }

    .marker-cluster span {
        line-height: 30px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

script(src="/socket.io/socket.io.js")
script(src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js")
link(href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")
script(src="/mapbox-view.js")
script(src="/jquery.timeago.js")
script(src="/jquery.timeago.ru.js")
