style.
    @media (max-width: 576px) {
        .modal-dialog.modal-dialog-slideout {
            width: 80%
        }
    }

    .modal-dialog-slideout {
        min-height: 100%;
        margin: 0 auto 0 0;
        background: #fff;
    }

    .modal.fade .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    .modal.fade.show .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        flex-flow: column;
    }

    .modal-dialog-slideout .modal-content {
        border: 0;
    }

    .show-picket-button {
        position: absolute;
        bottom: 24px;
        right: 24px;
        z-index: 1;
        width: 50px;
        height: 50px;
        background-size: cover;

    }

    .show-picket-button.enabled {
        background-image: url("voting-enabled.png");
        cursor: pointer;
    }

    .show-picket-button.disabled {
        background-image: url("voting-disabled.png");
        cursor: help;
    }

    .create-picket-button {
        position: absolute;
        bottom: 90px;
        right: 24px;
        z-index: 1;
        width: 50px;
        height: 50px;
        background-size: cover;

    }

    .create-picket-button.enabled {
        background-image: url("add.png");
        cursor: pointer;
    }

    .create-picket-button.disabled {
        background-image: url("add-disabled.png");
        cursor: help;
    }

// [Start Modal view region]
#picketSettingsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='picketSettingsModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-slideout(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Введите параметры
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                form#picketSettingsForm.needs-validation(novalidate='')
                    .form-row
                        .col-md-12.mb-3
                            label(for='address') Адрес проведения
                            input#address.form-control(type='text', placeholder='Введите адрес проведения пикета', required='')
                            .invalid-tooltip Пожалуйста укажите адрес
                    .form-row
                        .col-md-6.mb-3
                            label(for='startTime') Время начала
                            select#startTime.custom-select(required='')
                                option(selected='', disabled='', value='') Укажите время
                                option 8:00
                                option 9:00
                                option 10:00
                                option 11:00
                                option 12:00
                                option 13:00
                                option 14:00
                                option 15:00
                                option 16:00
                                option 17:00
                                option 18:00
                                option 19:00
                                option 20:00
                                option 21:00
                                option 22:00
                                option 23:00
                                option 24:00
                            .invalid-tooltip Пожалуйста укажите время начала.
                        .col-md-6.mb-3
                            label(for='endTime') Время окончания
                            select#endTime.custom-select(required='')
                                option(selected='', disabled='', value='') Укажите время
                                option 8:00
                                option 9:00
                                option 10:00
                                option 11:00
                                option 12:00
                                option 13:00
                                option 14:00
                                option 15:00
                                option 16:00
                                option 17:00
                                option 18:00
                                option 19:00
                                option 20:00
                                option 21:00
                                option 22:00
                                option 23:00
                                option 24:00
                            .invalid-tooltip Пожалуйста укажите время окончания.
                    .form-row
                        .col-md-12.mb-3
                            label(for='description') Дополнительное описание
                            textarea#description.form-control(placeholder='Можно добавить описание')
                    button#submitPicket.btn.btn-submit.btn-primary(type='submit') Отправить форму
                .row#picketControls(style='display: none;')
                    .col-md-4.mb-3
                        button#showMyPicket.btn.btn-info.btn-block(type='button') Перейти
                    .col-md-4.mb-3
                        button#updateMyPicket.btn.btn-primary.btn-block(type='button') Обновить
                    .col-md-4.mb-3
                        button#deleteMyPicket.btn.btn-danger.btn-block(type='button') Удалить


// [Start Button region]
#editOrViewPicketButton.a.show-picket-button.disabled

// [Start Button region]
#createPicketButton.a.create-picket-button.enabled(style='display: none;')


// [Start scripts section region]
script.
    let picketSubmitButtonCallback = null
    let showMyPicketButtonCallback = null
    let updateMyPicketButtonCallback = null
    let deleteMyPicketButtonCallback = null
    let createPicketButtonCallback = null

    $("#editOrViewPicketButton").on('click', function (event) {
        if (!$("#editOrViewPicketButton").hasClass('enabled')) {
            return
        }
        $('#picketSettingsModal').modal('show')
    })

    $("#showMyPicket").on('click', function (event) {
        if (showMyPicketButtonCallback) {
            showMyPicketButtonCallback();
        }
    })

    $("#deleteMyPicket").on('click', function (event) {
        if (deleteMyPicketButtonCallback) {
            deleteMyPicketButtonCallback();
        }
    })

    $("#createPicketButton").on('click', function (event) {
        if (!$("#createPicketButton").hasClass('enabled')) {
            return
        }
        if (createPicketButtonCallback) {
            createPicketButtonCallback();
        }
    })

    $("#updateMyPicket").on('click', function (event) {
        if (updateMyPicketButtonCallback) {
            const formQuery = $("#picketSettingsForm");
            const form = formQuery.get()[0]
            const isValid = form.checkValidity();
            form.classList.add('was-validated');
            if (isValid) {
                let data = {}
                formQuery.find(":input").not("[type='submit']").not("[type='reset']").each(function () {
                    const input = $(this);
                    data[input.attr("id")] = input.val();
                });
                if (updateMyPicketButtonCallback) {
                    updateMyPicketButtonCallback(data);
                }
                form.classList.remove('was-validated');
            }
        }
    })

    $("#submitPicket").on('click', function (event) {
        event.preventDefault();
        const formQuery = $("#picketSettingsForm");
        const form = formQuery.get()[0]
        const isValid = form.checkValidity();
        form.classList.add('was-validated');
        if (isValid) {
            let data = {}
            formQuery.find(":input").not("[type='submit']").not("[type='reset']").each(function () {
                const input = $(this);
                data[input.attr("id")] = input.val();
            });
            if (picketSubmitButtonCallback) {
                picketSubmitButtonCallback(data);
            }
            form.classList.remove('was-validated');
        }
    });

    function setPicketButtonEnabled(isEnabled) {
        if (isEnabled) {
            $('#editOrViewPicketButton').removeClass('disabled').addClass('enabled');
        } else {
            $('#editOrViewPicketButton').removeClass('enabled').addClass('disabled');
        }
    }

    function setCreateButtonEnabled(isEnabled) {
        if (isEnabled) {
            $('#createPicketButton').removeClass('disabled').addClass('enabled');
        } else {
            $('#createPicketButton').removeClass('enabled').addClass('disabled');
        }
    }

    function setCreateButtonVisibility(isVisible) {
        if (isVisible) {
            $('#createPicketButton').show()
        } else {
            $('#createPicketButton').hide()
        }
    }

    function setControlButtonVisibility(isVisible) {
        if (isVisible) {
            $('#submitPicket').hide();
            $('#picketControls').show();
        } else {
            $('#submitPicket').show();
            $('#picketControls').hide();
        }
    }

    function bindForm(picket) {
        $('#address').val(picket.address);
        $('#description').val(picket.description);
        $('#startTime').val(toHours(picket.startTime));
        $('#endTime').val(toHours(picket.endTime));

    }

    function unbindForm() {
        clearPicketSettingsForm();

    }

    function clearPicketSettingsForm() {
        const form = $("#picketSettingsForm");
        form.find(":input").not("[type='submit']").not("[type='reset']").each(function () {
            $(this).val("")
        })
    }

    function showPicketSettingsModal(callback) {
        $('#picketSettingsModal').modal('show');
        picketSubmitButtonCallback = callback;
    }

    function hidePicketSettingsModal() {
        $('#picketSettingsModal').modal('hide')
    }



