#success.toast(style='position: absolute; top: 50px; right: 0;')
    .toast-header
        strong.mr-auto
            i.fa.fa-grav
            | Спасибо
        small#time
        button.ml-2.mb-1.close(type='button', data-dismiss='toast')
            span(aria-hidden='true') ×
    .toast-body
        div Спасибо, ваша заявка принята! Мы свяжемся с вами в ближайшее время

#requestModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5.modal-title Пожалуйста, заполните все поля
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                form#requestForm.needs-validation(novalidate='')
                    .form-row
                        .col-md-4.mb-3
                            label(for='firstName') Имя
                            input#firstName.form-control(type='text', placeholder='Введите имя', required='')
                            .invalid-tooltip
                                | Пожалуйста укажите имя
                        .col-md-4.mb-3
                            label(for='lastName') Фамилия
                            input#lastName.form-control(type='text', placeholder='Введите фамилию', required='')
                            .invalid-tooltip
                                | Пожалуйста укажите фамилию
                        .col-md-4.mb-3
                            label(for='patronymic') Отчество
                            input#patronymic.form-control(type='text', placeholder='Введите отчество', required='')
                            .invalid-tooltip
                                | Пожалуйста укажите отчество
                    .form-row
                        .col-md-4.mb-3
                            label(for='region') Область
                            select#region.custom-select(required='')
                                option(selected='', disabled='', value='') Выберите...
                                option Брестская
                                option Витебская
                                option Гомельская
                                option Гродненская
                                option Минская
                                option Могилёвская
                                option Минск
                            .invalid-tooltip
                                | Пожалуйста выберите область.
                        .col-md-4.mb-3
                            label(for='city') Город
                            input#city.form-control(type='text', required='')
                            .invalid-tooltip
                                | Пожалуйста выберите город
                    .form-row
                        .col-md-8.mb-3
                            label(for='address') Адрес прописки
                            input#address.form-control(type='text', placeholder='Введите место жительства', required='')
                            .invalid-tooltip
                                | Пожалуйста укажите ваш адрес
                        .col-md-4.mb-3
                            label(for='phone') Телефон
                            input#phone.form-control(type='text', placeholder='Введите телефон с кодом', required='')
                            .invalid-tooltip
                                | Пожалуйста укажите ваш телефон
                    button.btn.btn-submit.btn-primary(type='submit') Отправить данные
script.
    let applyRequestSubmitButtonCallback = null

    $(".btn-submit").on('click', function (event) {
        event.preventDefault();
        const formQuery = $("#requestForm");
        const form = formQuery.get()[0]
        const isValid = form.checkValidity();
        form.classList.add('was-validated');
        if (isValid) {
            let data = {}
            formQuery.find(":input").not("[type='submit']").not("[type='reset']").each(function () {
                const input = $(this);
                data[input.attr("id")] = input.val();
            });
            applyRequestSubmitButtonCallback(data);
            form.classList.remove('was-validated');
        }
    });

    function clearForm() {
        const form = $("#requestForm");
        form.find(":input").not("[type='submit']").not("[type='reset']").each(function () {
            $(this).val("")
        })
    }

    function showRequestModal(callback) {
        clearForm();
        $('#requestModal').modal({
            'keyboard': false,
            'backdrop': 'static'
        })
        applyRequestSubmitButtonCallback = callback;
    }

    function hideRequestModal() {
        $('#requestModal').modal('hide')
    }

    function showToastSuccess() {
        const time = jQuery.timeago(new Date());
        $('#time').text(time);

        $("#success").toast({autohide: true, delay: 5000}).toast('show');
    }
