<div class="modal fade" id="requestModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">Отправить заявку</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate="">
                    <div class="form-row">
                        <div class="col-md-4 mb-3"><label for="firstName">Имя</label><input class="form-control"
                                                                                            id="firstName" type="text"
                                                                                            placeholder="Введите имя"
                                                                                            required=""/>
                            <div class="invalid-tooltip">Пожалуйста укажите имя</div>
                        </div>
                        <div class="col-md-4 mb-3"><label for="lastName">Фамилия</label><input class="form-control"
                                                                                               id="lastName" type="text"
                                                                                               placeholder="Введите фамилию"
                                                                                               required=""/>
                            <div class="invalid-tooltip">Пожалуйста укажите фамилию</div>
                        </div>
                        <div class="col-md-4 mb-3"><label for="patronymic">Отчество</label><input class="form-control"
                                                                                                  id="patronymic"
                                                                                                  type="text"
                                                                                                  placeholder="Введите отчество"
                                                                                                  required=""/>
                            <div class="invalid-tooltip">Пожалуйста укажите отчество</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3"><label for="region">Область</label><select class="custom-select"
                                                                                              id="region" required="">
                            <option selected="" disabled="" value="">Выберите...</option>
                            <option>Брестская</option>
                            <option>Витебская</option>
                            <option>Гомельская</option>
                            <option>Гродненская</option>
                            <option>Минская</option>
                            <option>Могилёвская</option>
                            <option>Минск</option>
                        </select>
                            <div class="invalid-tooltip">Пожалуйста выберите область.</div>
                        </div>
                        <div class="col-md-4 mb-3"><label for="city">Город</label><input class="form-control" id="city"
                                                                                         type="text" required=""/>
                            <div class="invalid-tooltip">Пожалуйста выберите город</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3"><label for="address">Адрес прописки</label><input
                                class="form-control" id="address" type="text" placeholder="Введите адрес прописки"
                                required=""/>
                            <div class="invalid-tooltip">Пожалуйста укажите ваш адрес</div>
                        </div>
                        <div class="col-md-4 mb-3"><label for="phone">Телефон</label><input class="form-control"
                                                                                            id="phone" type="text"
                                                                                            placeholder="Введите телефон с кодом"
                                                                                            required=""/>
                            <div class="invalid-tooltip">Пожалуйста укажите ваш телефон</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Отправить форму</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>function showRequestModal() {
    $('#requestModal').modal({
        'keyboard': false,
        'backdrop': 'static'
    })
}

(function () {
    'use strict';
    window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        const validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();</script>