doctype html
head
    title Авторизация
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

    // Base include
    include includes/baseHeader

    // Auth include
    script(src="/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js")


    style.
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }

        body {
            background: #00213d url('https://babariko.by/wp-content/uploads/2020/05/babariko1-1.jpg');
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

        .card-signin .card-title {
            margin-bottom: 2rem;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .card-signin .card-body {
            padding: 2rem;
        }

        .form-signin {
            width: 100%;
        }

        .form-signin .btn {
            font-size: 80%;
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            padding: 1rem;
            transition: all 0.2s;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .form-label-group input {
            height: auto;
            border-radius: 2rem;
        }

        .form-label-group > input,
        .form-label-group > label {
            padding: var(--input-padding-y) var(--input-padding-x);
        }

        .form-label-group > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-moz-placeholder {
            color: transparent;
        }

        .form-label-group input::placeholder {
            color: transparent;
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
        }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }

        .btn-google {
            color: #545454;
            background-color: #ffffff;
            box-shadow: 0 1px 2px 1px #ddd
        }

        .or-container {
            align-items: center;
            color: #ccc;
            display: flex;
            margin: 25px 0
        }

        .line-separator {
            background-color: #ccc;
            flex-grow: 5;
            height: 1px
        }

        .or-label {
            flex-grow: 1;
            margin: 0 15px;
            text-align: center
        }

        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fc3349;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f6c232;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #299661;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        #loader-last {
            content: "";
            position: absolute;
            top: 25px;
            left: 25px;
            right: 25px;
            bottom: 25px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #5a97f2;
            -webkit-animation: spin 2.5s linear infinite;
            animation: spin 2.5s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        /* Fallback for Edge
        -------------------------------------------------- */
        @supports (-ms-ime-align: auto) {
            .form-label-group > label {
                display: none;
            }

            .form-label-group input::-ms-input-placeholder {
                color: #777;
            }
        }

        /* Fallback for IE
        -------------------------------------------------- */
        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            .form-label-group > label {
                display: none;
            }

            .form-label-group input:-ms-input-placeholder {
                color: #777;
            }
        }
.container
    .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
            .card.card-signin.my-5
                .card-body
                    h5.card-title.text-center &Acy;&vcy;&tcy;&ocy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
                    form.form-signin(onsubmit='return onSubmit()')
                        .form-label-group
                            input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
                            label(for='inputEmail') Email address
                        .form-label-group
                            input#inputPassword.form-control(type='password' placeholder='Password')
                            label(for='inputPassword') Password
                        button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') &Vcy;&ocy;&jcy;&tcy;&icy;
                    .or-container
                        .line-separator
                        .or-label &Icy;&lcy;&icy;
                        .line-separator
                    .row
                        .col-md-12.button-google
                            a.btn.btn-lg.btn-google.btn-block.text-uppercase.btn-outline
                                img(src='google.png' alt='G')
                                |  &Vcy;&ocy;&jcy;&tcy;&icy;
#loadingModal.modal(tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            #preloader
                #loader
                    #loader-last
script.

    function showProgress() {
        $('#loadingModal').modal({
            'backdrop': 'static',
            'keyboard': false
        })
    }
    function hideProgress() {
        $('#loadingModal').modal('hide')
    }
    function onSubmit() {
        console.log("onSubmit form");
        hideProgress();
    }
    $(".button-google").on('click', function (event) {
        console.log("onSubmit Google");
        showProgress();
        googleSignIn().then(function (result) {
            console.log('Google sign in', result);
            window.location.href = "/create";
        }).catch(function (error) {
            hideProgress();
            console.log('Google sign in', error);
        })
    });
    // const firebaseConfig =
    initFirebase(!{firebaseConfig})
    initFirebaseAuth()

