doctype html
html(lang="en")
    head
        title Создание пикетов
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no")
        include includes/baseHeader
        include includes/mapHeader
        script(src="/map-socket.js")
        script(src="/mapbox-create.js")

    body
        div(id="map")
        include includes/picketSettingsModalView
        script.
            createMap(function () {
                console.log('Map created');
                map.on('zoom', function () {
                    picketState.setZoom(map.getZoom())
                });

                picketState.setCallback(function (newState) {
                    console.log(newState);
                    setCreateButtonVisibility(newState.isAddPicketButtonVisible());
                    setPicketButtonEnabled(newState.isPicketButtonEnabled())
                    setControlButtonVisibility(newState.isControlButtonVisible());
                });

                picketState.setPicketFromUpdatedCallback(function (picket) {
                    bindForm(picket)
                })

                createPicketButtonCallback = function () {
                    addPicketMarker();
                };

                showMyPicketButtonCallback = function () {
                    if (!picketState.picket) {
                        console.error('Invalid state');
                        return
                    }
                    const picket = picketState.picket;
                    const latLng = [picket.location.longitude, picket.location.latitude];

                    map.flyTo({
                        zoom: 17,
                        center: latLng,
                        essential: true
                    });
                };

                deleteMyPicketButtonCallback = function () {
                    if (!picketState.picket) {
                        return
                    }

                    deletePicket(picketState.picket.id)
                        .then(function (success) {
                            hidePicketSettingsModal()
                            console.log('deletePicket', success);
                        })
                        .catch(function (error) {
                            console.log('deletePicket', error);
                        })
                };

                updateMyPicketButtonCallback = function (data) {
                    if (!picketState.picket) {
                        return
                    }
                    const picket = data;
                    picket.startTime = stringToDate(data.startTime);
                    picket.endTime = stringToDate(data.endTime);

                    const oldPicket = picketState.picket
                    picket.location = [oldPicket.location.longitude, oldPicket.location.latitude];

                    sendPicket(picket)
                        .then(function (success) {
                            console.log('updatePicket', success);
                        })
                        .catch(function (error) {
                            console.error('updatePicket', error);
                        });
                }

                picketSubmitButtonCallback = function (data) {
                    if (!picketState.picketMarker) {
                        return
                    }
                    const picket = data;
                    picket.startTime = stringToDate(data.startTime);
                    picket.endTime = stringToDate(data.endTime);

                    picket.location = picketState.picketMarker.getLngLat().toArray();
                    sendPicket(picket)
                        .then(function (success) {
                            console.log('createPicket', success);
                        })
                        .catch(function (error) {
                            console.error('createPicket', error);
                        });
                }

                connectSocket();
                subscribeUserPoints();
                subscribePickets();

                subscribeUser()
                    .then(function (user) {
                        console.log('Get user:', user)
                        if (user || user.role || user.role !== 'Guest') {
                            const message = user.picket;
                            picketState.setUserPermission(true);
                            if (message) {
                                picketState.onPicketCreated(message.point);
                            } else {
                                picketState.onPicketDestroyed();
                            }
                        }
                        subscribeMyPickets(user.id);
                    })
                    .catch(function (error) {
                        picketState.setUserPermission(false);
                        console.log('Error', error);
                    })
            });
