doctype html
html(lang="en")
    head
        title Расположение инициативных групп Виктора Бабарико
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no")
        include includes/baseHeader
        include includes/mapHeader
        script(src="/map-socket.js")

    body
        div(id="map")
        include includes/requestModalView
        script.
            //- Start
            createMap(function () {
                connectSocket();
                subscribeUserPoints();
                subscribePickets();
            })

            function doRequest(id) {
                console.log("Request:", id)
                showRequestModal(function (form) {
                    form['userId'] = id;
                    console.log("OnSubmit modal: ", JSON.stringify(form));
                    sendForm(form)
                        .then(function (result) {
                            showToastSuccess();
                            console.log("Success: ", result)
                        })
                        .catch(function (error) {
                            console.log("Error: ", error)
                        });
                    hideRequestModal();
                })
            }
        //- Share settings
        script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ed29f53eb8879cf")
